/* CSS Variabler */
:root {
  --colorBlack: orange;
  --colorWhite: purple;
 
 /* Size */
  --spacingSmall:4px;
  --spacingMedium:50px;
  --spacingLarge:24px;

  /* font */
  --tittle: 45px;
  --underTittle: 36px;
  --minorTittle:30px;
}

/* -- GENERAL -- */
body {
  margin: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: var(--tittle);
}

h2 {
  font-size: var(--underTittle);
}

h3 {
  font-size: var(--minorTittle)
}

.section {
  min-height: 100vh;
}

.button {
  width: 100px;
  height: 25px;
  border: 2px solid var(--colorBlack);
  border-radius: 10px;

  /* padding: 10px 12px; */
  /* width: 100px; */
  /* border-radius: 40px; */
  /* border: 2px solid lightgray; */
}

.introText, .introImg {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
/* -- HEADER -- */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--spacingMedium);
  border-bottom: 3px solid var(--colorBlack);
  position: sticky;
  top: 0;
  background-color: var(--colorWhite);
}

.logo {
  height: 32px;
  width: 32px;
  background-color: var(--colorWhite);
}

/* NAV */
.navList {
  display: flex;
  gap: var(--spacingMedium);
  list-style-type: none;
  padding-inline-start: 0;
}

/* -- MAIN -- */


/* HOME */
.sectionHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacingLarge);
}

.heroIntro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonOne {
  background-color: var(--colorBlack);
}


.buttonTwo {
  background-color: var(--colorWhite);
}

/* ABOUT */

.sectionAbout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacingLarge);
}

.aboutIntro {
  display: flex;
  align-items: center;
}
/* PROJECTS */

.sectionProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacingLarge);
}

.projectCard {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* -- FOOTER -- */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 3px solid var(--colorBlack);
  padding: var(--spacingMedium);
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacingSmall);
  color: var(--colorBlack);
}

/* -- MEDIA -- */
